!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Self-destructing messages
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .header.clearfix
        %h3.text-muted.pull-left Self-destructing messages
      - if notice
        .alert.alert-success{:role => "alert"}= notice
      - if alert
        .alert.alert-warning{:role => "alert"}= alert
      = yield